/* font-Parastoo */
@font-face {
    font-family: Parastoo;
    src: url('http://fonts.codearena.ir/rastikerdar/parastoo/parastoo.eot');
    src: url('http://fonts.codearena.ir/rastikerdar/parastoo/parastoo.eot?#iefix') format('embedded-opentype'),
         url('http://fonts.codearena.ir/rastikerdar/parastoo/parastoo.woff') format('woff'),
         url('http://fonts.codearena.ir/rastikerdar/parastoo/parastoo.ttf') format('truetype');
    font-weight: normal;
  }  

  @font-face {
    font-family: Sahel;
    src: url('http://fonts.codearena.ir/rastikerdar/sahel/sahel.eot');
    src: url('http://fonts.codearena.ir/rastikerdar/sahel/sahel.eot?#iefix') format('embedded-opentype'),
         url('http://fonts.codearena.ir/rastikerdar/sahel/sahel.woff') format('woff'),
         url('http://fonts.codearena.ir/rastikerdar/sahel/sahel.ttf') format('truetype');
    font-weight: normal;
  }  

  /* font-Tanha some  */
  @font-face {
    font-family: Tanha;
    src: url('http://fonts.codearena.ir/rastikerdar/tanha/tanha.eot');
    src: url('http://fonts.codearena.ir/rastikerdar/tanha/tanha.eot?#iefix') format('embedded-opentype'),
         url('http://fonts.codearena.ir/rastikerdar/tanha/tanha.woff') format('woff'),
         url('http://fonts.codearena.ir/rastikerdar/tanha/tanha.ttf') format('truetype');
    font-weight: normal;
  }  
/* font-Vazir */
@font-face {
    font-family: Vazir;
    src: url('http://fonts.codearena.ir/rastikerdar/vazir/vazir.eot');
    src: url('http://fonts.codearena.ir/rastikerdar/vazir/vazir.eot?#iefix') format('embedded-opentype'),
         url('http://fonts.codearena.ir/rastikerdar/vazir/vazir.woff') format('woff'),
         url('http://fonts.codearena.ir/rastikerdar/vazir/vazir.ttf') format('truetype');
    font-weight: normal;
  }  