@import './variables/variables';
@import './fonts';
@import './mixins/mixins';
@import './helpers/spacing';
@import './helpers/other';
@import './helpers/colors';
@import './components/buttons';
@import './components/accordion';
@import './components/inputs';
@import './components/progressBar';
@import './components/pages/currency';
@import './components/invoice';
@import './components/customDropdown';
@import './typography/typography';
@import './components/customButton';
@import './components/customTable';
@import './components/loading';
@import './components/accordions/simpleNumeric';
@import './components/card';
@import './components/stageCounter';
@import './components/infoHeader';
@import './overrides';
@import './animations/componentTransitions';
html{
    font-family: Vazir !important;
    font-size: 12.5px !important;
    direction: !important;
    overflow-x: hidden;
    ::-webkit-scrollbar {
        width: 5px;
      }
       
    ::-webkit-scrollbar-track {
        background: $sidebar_content_gradient-1;
      }
       
    ::-webkit-scrollbar-thumb {
        background: #828282; 
      }
    //for mozila
    scrollbar-width: thin;
}
body{
    padding: 0;
    margin: 0;
    font-family: Vazir !important;
    direction: rtl !important;
    color:$default_text_color;
    scrollbar-width: thin;
    *{
        scrollbar-width: thin;
    }

}
button{
    font-family: Vazir !important;
}
a{
    @include link_nullifier;   
    color:$default_text_color;

    &:hover{
        color:$default_text_color;
    }
}
#adsporContainer{
    //imports 
    // background-color: blue;
    position: relative;
    direction: rtl;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    @import './components/navbar.scss';
    @import './components/sidebar.scss';
    .content{
        margin-right: 18%;
        width: 82%;
        padding-top: 10%;
        padding-right:2rem;
        min-height: 110vh;
        position: relative;
        background-color: $page_content_back_color;
    }
}