
.has-text{
    &-danger{

    }
    &-primary{
        color: $sidebar_text_selected_color !important;
    }
    &-success{

    }
    &-warning{

    }
}
.bg{
    &-darK{
        background-color: #392d3a !important;
    }
    &-success{
        background-color: $text_success_color !important;
    }
    &-danger{
        background-color: $text_danger_color !important;
    }
    &-primary{
        background-color: $sidebar_text_selected_color !important;

        &_light{
            background-color: #dee9fc !important;
        }
    }
    &-warning{
        background-color: $text_warning_color !important;
        &_light{
            background-color: $text_warning_color-light !important;
        }
    }


    &-muted{
        background-color: $sidebar_content_gradient-1 !important;
    }
}