
.display{
    &-flex{
        display: flex !important;
        // justify-content: space-between;
    }
}

//flex sizing 
$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50,55,60,65,70, 75, 100); // Adjust this to include the pixel amounts you need.

.flex-size{

    @each $space in $spaceamounts{
        &-#{$space}{
            flex-basis: #{$space}% !important;
        }
    }

}

.border_radius{
    &-simpleCurve{
        border-radius: 3px !important;
    }
    &-middleCurve{
        border-radius: 9px !important;
    }
    &-biggerCurve{
        border-radius: 13px !important;
    }
    &-roundedCurve{
        border-radius: 30px !important;
    }
}
.noBorder{
    border: none !important;
}
.shadow{
    &-type1{
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    }
    &-type2{

    }
}
.pointer{
    cursor: pointer;
}
.overflow{
    &-y{
        overflow-y: scroll;
    }
}

.text{
    &-small{
        font-size: .8rem;
    }
}

.cursor{
    &-pointer{
        cursor: pointer !important;
    }
}
.hoverable{
    transition: transform .1s;
    &:hover{
        transform: scale(1.2);
    }
}