.currency{
    &_buttons{
        position: absolute;
        right: 50%;
        top: 50%;
        transform: translate(50%,-50%);
        border-radius: 9px;
    }
    &_converter{
        position: relative;
        // padding: 1rem;
        background-color: #e6e6e6;
        border: 1px solid $sidebar_text_selected_color;
        border-radius: 9px;
        
        &-icon{
            background-color: $sidebar_text_selected_color;
            height: 3rem;
            width: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
        }
    }
}

.selectBox{
    position: relative;
    // padding: 5px;
    width: 100%;

    & select {
        // font-family: "Font Awesome 5 Free";
        background-color: $page_content_back_color;
        color: $default_text_color;
        padding-left: 5rem;
        padding-right: 3rem;
        border: none;
        font-size: inherit;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(140,140,140,1);
        -moz-box-shadow: 0px 0px 5px 0px rgba(140,140,140,1);
        box-shadow: 0px 0px 5px 0px rgba(140,140,140,1);
        -webkit-appearance: button;
        appearance: button;
        outline: none;
        height: 3.5rem;
        align-items: center;
        border-radius: 11px;
        text-align: center;
      }
      &::before {
        font-family: "Font Awesome 5 Free";
        content: "\f107";
        font-weight: 900;
        position: absolute;
        border-radius: 11px;
        top: 0;
        left: 0;
        width: 20%;
        height: 100%;
        text-align: center;
        font-size: 1.4rem;
        line-height: 43px;
        color: $sidebar_text_selected_color;
        background-color: $page_content_back_color;
        pointer-events: none;
      }
      &::after{
        content: "";
        font-family: FontAwesome;
        position: absolute;
        border-radius: 11px;
        top: 0;
        right: 0;
        width: 10%;
        font-weight: bold;
        height: 100%;
        text-align: center;
        font-size: 28px;
        line-height: 43px;
        background-color: $page_content_back_color;
        pointer-events: none;
      }
      &:hover::before {
        color: $sidebar_text_selected_color_light;
        background-color: $page_content_back_color;
      }

      & select option {
        font-weight: 900;
        // font-family: "Font Awesome 5 Free";
        padding: 40px;
      }
}