
//colors
$page_content_back_color:#f9fbfc;
$nav_color:$page_content_back_color;
$nav_secondary_color:rgb(224, 224, 224);
//align direction
$align_dir:'rtl';

$null_color:rgba(0,0,0,0);
//side bar coloring
$sidebar_content_gradient-1:#c1c0c1;
$sidebar_content_gradient-2:#5c525e;

//text colors 
$text_success_color:#00c853;
$text_danger_color:#ff4a75;
$text_warning_color:#fb8c00;
$text_warning_color-light:#ffbf00;
// #FC466B 0%, #3F5EFB
// c1c0c1
//side bar list options 
$sidebar_list_options_gradient-1:#3e3a3f;
$sidebar_list_options_gradient-2:#514553;

$sidebar_text_color:rgb(248, 248, 248);
$sidebar_text_selected_color:#4285f4;
$sidebar_text_selected_color_light:#67a0fa;

$default_text_color:#493c4b;

$sidebar_border_redius: 22px;


$white : #ffff;
$grey_light:#f2f3f5;
$grey_less_light:#cbcccc;
$grey_lighter:#c5c5c5;
$grey_ligt_dark:#b7b9b9;
$grey_dark:#737373;