

.accordion{
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 1rem;

        &_shadow{

            &-light{
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;

                & .accordion_toggle{
                    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
                }
                & .accordion_content{
                    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
                }
            }

        }

        &_toggle{
           min-height: 4rem;
           width: 100%;
           overflow: hidden !important;
           z-index: 10;
           padding: 0 1.5rem;
           background-color: $white;  
            // padding: 18px;
            display: flex;
            align-items: center;
            border: none;
            outline: none;
            transition: background-color 0.6s ease;
            
            -webkit-box-shadow: 0px 0px 5px 2px rgba(184,182,184,1);
            -moz-box-shadow: 0px 0px 5px 2px rgba(184,182,184,1);
            box-shadow: 0px 0px 5px 2px rgba(184,182,184,1);
            
            justify-content: space-between;
            &-content{
                flex: 11;
            }
            &-toggler{
                flex:1;
                cursor: pointer;
                transition: all .3s;
                
            }
            &-icon{
                transition: all .4s; 
                margin:0 !important;
                padding: 0 !important;
                font-size: 1.8rem;
                
                color: $sidebar_text_selected_color_light;
                -webkit-transform-origin: 50% 50%;
                -moz-transform-origin: 50% 50%;
                -o-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
                &_rotate {
                    transition: all .4s; 
                    transform: rotate(180deg);
                  }
            }
        }

        &_content{
            // display: none;
            background-color: white;
            overflow: hidden;
            
            margin-top: -.7rem;
            padding-top: 1rem;
            transition: max-height 0.6s ease;
            

            &>div{
                padding: 1rem 1.5rem;
            }
        }

        &_active{
           overflow-y: scroll;
                //shadow
            -webkit-box-shadow: 0px 0px 4px 2px rgba(189,189,189,1);
            -moz-box-shadow: 0px 0px 4px 2px rgba(189,189,189,1);
            box-shadow: 0px 0px 4px 2px rgba(189,189,189,1);
        }
}

/* Style to rotate icon when state is active */
