

.btn{
    @include button;
    
    &-rounded{
        border-radius: 30px;
    }

    &-outline{
            border: 1px solid $default_text_color;

        &-primary{
            border: 1px solid $sidebar_text_selected_color;
        }
        &-success{
            border: 1px solid $text_success_color;
        }
    }

    &-secondary{

    }
}


.addFeatureButton{
    padding: 1.5rem;
    background-color: $white;
    border: none;
    box-shadow:  0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    border-radius: 10px;
    border: 1.3px dotted $sidebar_text_selected_color;

    @include buttonStates;
}

.btn_curve{
    position: relative;

    &-img{
        position: absolute;    
        top: 0;
        width: 100%;
    }
    &-icon{

    }
}