.card{
    padding: 1rem;
    direction: $align_dir;
    background-color: $white;
    -webkit-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);

    &-narrow{
        padding: .4rem;
        direction: $align_dir;
        background-color: $white;
        -webkit-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
    }
}

.cardSimple{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    margin-right: 1rem;
    cursor: pointer;
    transition: transform .4s;
    &-horizontalContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        min-height: 6rem;
    }
    &-horizontal{
        flex-direction: row;  
        &  .cardSimple_title{
            text-align: center;
        }
        &  .cardSimple_img{

        }
        &  .cardSimple_desc{

        }
    }
    &:hover{
        transform: translateY(-.3rem);
    }

    &:active{
        transform: translateY(.1rem);
    }

    &-active{//setting active state
        background-color: $sidebar_text_selected_color;
        
        & .cardSimple_title{
            
            color:$white;     
        }
        & .cardSimple_desc{
            color:$white;
        }
    }

    &_title{
        font-size: 1.2rem;
        font-weight: bold;
        margin-right: 1rem;
    }
    &_img{
        align-self: center;
        &>img{
            max-height: 9rem;
            max-width: 10rem;
        }
    }
    &_desc{
        font-weight: 550;
        color:$sidebar_text_selected_color;
    }

    &_selected{
        background-color:$sidebar_text_selected_color;
    }
}