
.customTable{
    &_content{
        &-type1{
            & .accordion_toggle{
                border-top-right-radius: 13px;
                border-top-left-radius: 13px;
                margin-bottom: -1.4rem;
            }
        }
    }
}