.customButton{
    padding: .45rem 1rem;
    // max-width: 10rem;
    border-radius: 4rem;
    align-items: center;

    &-icon{
        transition: transform .2s ease-in-out;
        cursor: pointer;
        &:hover{
            transform: scale(1.3);
        }
    }

    &-primary{
        background-color: rgba($color: $sidebar_text_selected_color, $alpha: .2);
        border:1px solid rgba($color: $sidebar_text_selected_color, $alpha: .7);

        & .customButton-info{
            color:$sidebar_text_selected_color;

        }
    }
    &-success{
        background-color: rgba($color: $text_success_color, $alpha: .2);
        border:1px solid rgba($color: $text_success_color, $alpha: .7);

        & .customButton-info{
            color:$text_success_color;

        }
    }
    &-danger{
        background-color: rgba($color: $text_danger_color, $alpha: .2);
        border:1px solid rgba($color: $text_danger_color, $alpha: .7);

        & .customButton-info{
            color:$text_danger_color;

        }
    }
    &-warning{
        background-color: rgba($color: $text_warning_color, $alpha: .2);
        border:1px solid  rgba($color: $text_warning_color, $alpha: .7);

        & .customButton-info{
            color:$text_warning_color;

        }
    }
}
