.infoHeader{
    position: relative;
    left: 2rem;
    width: 105%;
    border-bottom: 1px solid $grey_dark;
    display: flex;
    &-title{
        font-size: 1.2rem;
    }
    &-subject{
        color: $sidebar_text_selected_color;
    }
    &-info{
        color:$text_success_color;
    }
}