
.custom{
    &_input{
        &-one{
            background-color: $grey_light;
            border: none;
            border-radius: .5rem;
             
            &::placeholder { /* Firefox, Chrome, Opera */ 
                color: $grey_less_light; 
            } 
            
            -webkit-box-shadow: 4px 5px 20px -12px rgba(135,135,135,1);
            -moz-box-shadow: 4px 5px 20px -12px rgba(135,135,135,1);
            box-shadow: 4px 5px 20px -12px rgba(135,135,135,1);
            
            &:focus{
                background-color: $grey_light;
                border-color: $grey_light;
            }
        }
    }
}