.invoice{
    &_details{
        font-size: .9rem;
    }
    &_info{
        & table{
            text-align: right;
            min-width: 100%;
            & th , td{
                padding: .8rem;
                border: 1px solid $default_text_color;
            }
            & td{
                background-color: $page_content_back_color;
            }

        }
    }
}