.loading {
    &_dashboard{
        position: fixed;
        min-width: 100vw;
        min-height: 100vh;
        background-color: $white;
        z-index:1000;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
        visibility: hidden;
        opacity: 0;
        transition: all .5s;
        & .spinner-grow {
            width: 5rem;
            height: 5rem;
        }

        &-active{
         visibility: visible;
         opacity: 1;
        }
    }
    &_component{
        position: absolute;
        min-width: 110%;
        top: 0;
        right: -2rem;
        min-height: 110%;
        background: $page_content_back_color;
        visibility: hidden;
        z-index:1000;
        display: flex;
        padding-top: 5rem;
        align-items: flex-start;
        justify-content: center;
        opacity: 0;
        transition: all .5s;
        & .spinner-grow {
            width: 3.5rem;
            height: 3.5rem;
        }

        &-active{
            visibility: visible;
            opacity: 1;
           }
    }
}