//local variables
$border-top-right-radius: 34px;
#topNav_before{
    position: absolute;
    width: 100%;
    height: 8vh;
    background-color: $sidebar_content_gradient-1;
    top:0;
    left: 0;
    z-index: 10;
}
#topNav{
    position: absolute;
    width: 100%;
    height: 8vh;
    top:0;
    left: 0;
    background-color: $nav_color;
    @include shadow;
    z-index: 12;
    border-top-right-radius: $border-top-right-radius;
    display: flex;
    justify-content: space-between;

    &-secondary{
        position: absolute;
        background-color: $nav_secondary_color;
        width: 100%;
        height: 6vh;
        display: flex;
        justify-content: space-between;
        top:8vh;
        left: 0;
        z-index: 11;
        @include shadow;

        & .topNav{
            &-navigation{
                flex-basis: 50%;
                display: flex;

                &_item{
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    flex-basis: 30%;
                    padding: 0 1rem;
                    border-bottom: 2px solid $sidebar_text_selected_color;
                    @include shadow;
                }
                
            }
            &-calender{
                flex-basis: 20%;
            }
        }
    }

    & .user_info{
        flex-basis: 35%;
        border-top-right-radius: $border-top-right-radius;
        display: flex;
        &-profile{
            flex: 8;
            border-top-right-radius: $border-top-right-radius;
            margin: .7rem 0 .4rem 0;
            display: flex;
            padding-left: .2rem;
            border-left: 1px solid $sidebar_content_gradient-1;
            &_avatar{
                flex: 3;
                & img{
                    margin-right: 2rem;
                    border-radius: 50%;
                    height: 40px;
                    width: 40px;
                    border: .5px solid $default_text_color;
                }
            }
            &_info{
                flex:6;
                display: flex;
                flex-direction: column;
                align-items: center;
                &-name{
                    color: $default_text_color; 
                }
                &-id{
                    color: $sidebar_text_selected_color;
                }
            }
            &_more{
                display: flex;
                position: relative;
                align-items: flex-start;
                & a{
                    @include link_nullifier;   
                }
                & i{
                    color: $sidebar_text_selected_color;
                }

                &-options{
                    position: absolute;
                    top:2rem;
                    left: 0;
                    min-width: 15rem;
                    background: $nav_color;
                    @include shadow;
                    z-index: 20;
                    height: 0;
                    visibility: hidden;
                    opacity: 0;
                    transition: all .4s;
                    &_active{
                        height: initial;
                        visibility: visible;
                        opacity: 1;
                    }
                    &_list{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        @include list_nullifier;
                        & hr{
                            width: 80%;
                            border-bottom: .7px solid $sidebar_content_gradient-1;
                        }    
                        &-items{
                            @include list_nullifier;
                            & a{
                                color: $default_text_color;
                            }
                        }
                    }
                }
            }

        }
        &-additional{
            flex: 4;
            display: flex;
            margin: 1.1rem 0 .4rem 0;
            justify-content: space-between;
            color: $default_text_color;
            &_notifications{
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    bottom: 5px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: #508ef4;
                }
            }
            &_messages{
                
            }
            &_setting{
                 
            }
        }
       
    }
    & .user_actions{
        flex-basis: 26%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        & button{
            flex: 6;
            &:first-child{

            }
        }
    }
}

.navBtn{
    // box-shadow: none;
    border: 1px solid $sidebar_text_selected_color !important;
    padding: .5rem 1.5rem;
    color:$sidebar_text_selected_color !important;
    border-color: $sidebar_text_selected_color !important;

    & span{
        color: $default_text_color !important;
    }

//     -webkit-box-shadow: 0px 6px 17px -8px rgba(148,148,148,1);
// -moz-box-shadow: 0px 6px 17px -8px rgba(148,148,148,1);
// box-shadow: 0px 6px 17px -8px rgba(148,148,148,1);
}