

.progressBar{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    &-slots{
        display: flex;
        &_item{
            margin: 0 1px;
            width: 1.4rem;
            height: 1.4rem;
            border: .8px solid $grey_ligt_dark;
            border-radius: 4px;
            &:first-child{
                border-top-left-radius: 30px;
                border-bottom-left-radius: 30px;
            }
            &:last-child{
                border-top-right-radius: 30px;
                border-bottom-right-radius: 30px;
            }         
        }

    }
    &-status{
        
    }
}

.fill{
    &-success{
        background-color: $text_success_color !important;
        border: .5px solid $text_success_color;
    }
    &-danger{
        background-color: $text_danger_color !important;
        border: .5px solid $text_danger_color;
    }
    &-warning{
        background-color: $text_warning_color !important;
        border: .5px solid $text_warning_color;
    }

}
