.sideBar{
    z-index: 10;
    min-height: 100vh;
    background-color: red;
    position: fixed; 
    width: 18%;
    //setting shadow on the left side
    // -webkit-box-shadow: -1px 0px 5px -1px rgba(138,138,138,1);
    // -moz-box-shadow: -1px 0px 5px -1px rgba(138,138,138,1);
    // box-shadow: -1px 0px 5px -1px rgba(138,138,138,1);
    &_content{
        min-height: 100vh;
        width: 100%;
        background: linear-gradient(180deg,$sidebar_content_gradient-1  0%, $sidebar_content_gradient-2 100%);
        display: flex;
        flex-direction: column;

        &-logo{
            // flex: 3ک
            width:100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            color:$sidebar_text_color;
            min-height: 16.5rem;

            background: url(../../assets/images/imgb6.svg);
            background-size: cover;
            
            & h3{
                font-size: 1.3rem;
            }
        }
        &_list{
            display: flex;
            flex: 8;
            min-height: 40vh;
            width:100%;
            // background-color:blueviolet;
            &-items{
                // background-color: white;
                flex-direction: column;
                flex: 8;
                display: flex;
                flex-direction: column;
                justify-content: start;
                min-height: 10vh;
                padding-right: 0;
            }
            &-item{
                direction: rtl;
                color:$sidebar_text_color;
                text-decoration: none;
                list-style: none;
                text-align: right;
                position: relative;
                cursor: pointer;
                padding: 1.3rem 1rem 1.3rem 1rem;
                // margin-right: 1rem;
                margin-left: 1rem;
                z-index: 10;
                transition: all .3s;
                &:hover{
                    & span , i{
                        transition: all .4s;
                        color: $sidebar_text_selected_color_light
                    }
                }
                // &::after{
                //     height: 100%;
                //     width: 80%;
                //     position: absolute;
                //     bottom: 0;
                //     right: 0;
                //     content:"";
                //     border-bottom: .7px solid $sidebar_text_color;
                // }
                // border-top: .7px solid $sidebar_text_color;
                &>div{
                    position: absolute;
                    height: 100%;
                    top:1.5px;
                    border-bottom: .7px solid $sidebar_text_color;
                    right: 0;
                    width: 80%;

                    z-index: -1;
                }
                &-selected{
                    margin-right: 0rem;
                    padding-right: 1rem;
                    color: $sidebar_text_selected_color;
                    background-color: $page_content_back_color;
                    border-top-left-radius: $sidebar_border_redius;
                    border-bottom-left-radius: $sidebar_border_redius;

                    -webkit-box-shadow: 2px 3px 5px -1px rgba(138,138,138,1);
                    -moz-box-shadow: 2px 3px 5px -1px rgba(138,138,138,1);
                    box-shadow: 2px 3px 5px -1px rgba(138,138,138,1);
                    &>div{
                        top:0 !important;
                        margin-top: -2px;
                    }
                }
            }
            &-options{
                border-top-right-radius: 30px;
                // background-color: black;
                flex-direction: column;
                flex: 3;
                min-height:10vh;
                background:linear-gradient(180deg,$sidebar_list_options_gradient-1  0%, $sidebar_list_options_gradient-2 80%,$null_color 100%);
            }
        }
        &_bottom{
            flex: 2;
            
        }
    }   
    &_options{
        &-items{
                margin-top: 2rem;
                color:$sidebar_text_color;
                text-decoration: none;
                list-style: none;
                position: relative;
                // padding: 1rem 1rem 1rem 1rem;
                padding-right: .4rem;
                & >a {
                    transition: none;
                }
        }
        &-item{
                color:$sidebar_text_color;
                display: flex;
                text-decoration: none;
                justify-content: center;
                list-style: none;
                cursor: pointer;
                position: relative;
                padding: 1.35rem 1rem 1.35rem 1rem;
                // transition: all .3s;

                &:hover{
                    & i{
                        transition: all .4s;
                        color: $sidebar_text_selected_color_light
                    }
                }
                &-selected{
                    border-top-right-radius: $sidebar_border_redius;
                    border-bottom-right-radius: $sidebar_border_redius;
                    color: $sidebar_text_selected_color;
                    background-color: $page_content_back_color;
                    //box shadow
                    // -webkit-box-shadow: 2px 3px 5px -1px rgba(138,138,138,1);
                    // -moz-box-shadow: 2px 3px 5px -1px rgba(138,138,138,1);
                    // box-shadow: 2px 3px 5px -1px rgba(138,138,138,1);

                    &::after{
                        content: '';
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        left:-1.5px;
                        bottom: -19px;
                        background-image: url(../../assets/images/curve2.svg);
                        background-repeat: no-repeat;
                        background-size: cover;
                        }
                    &::before{
                        content: '';
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        left:-1.5px;
                        top: -19px;
                        // background-color: $sidebar_text_color;
                        background-image: url(../../assets/images/curve1.svg);
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                  
                }
        }
    }
}