.stageCounter{
    width: 100%;
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;

    &-item{
        display: flex;

    }
    
    &-number{
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        background-color: $grey_lighter;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $page_content_back_color;
        margin-right: .5rem;
        margin-left: .5rem;
    }
    &-seperator{
        min-width: 7rem;
        position: relative;

        &>div{
            top: 50%;
            position: absolute;
            content: "";
            width: 100%;    
            height: .2rem;
            background-color: $grey_lighter;

        }
    }
}