@mixin shadow{
    -webkit-box-shadow: -1px 0.5px 6px 0px rgba($sidebar_content_gradient-1,1);
    -moz-box-shadow: -1px 0.5px 6px 0px rgba($sidebar_content_gradient-1,1);
    box-shadow: -1px 0.5px 6px 0px rgba($sidebar_content_gradient-1,1);
}
@mixin button{
    display: inline-block;
    border: none;
    padding: .5rem 1rem;
    margin: 0;
    text-decoration: none;
    background: #ffffff;
    color: $default_text_color;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

@mixin link_nullifier($cursor:pointer,$color:$sidebar_text_selected_color) {
      text-decoration: none;
      color:$color;
      cursor: $cursor;
      &:link {
        text-decoration: none;
      }
      
      &:visited {
        text-decoration: none;
      }
      
      &:hover {
        text-decoration: none;
      }
      
      &:active {
        text-decoration: none;
      }
}

@mixin list_nullifier {
    padding: 0;
    list-style: none;
    text-decoration: none;
}


@mixin buttonStates{
  transition: transform .4s;
  &:hover{
      transform: translateY(-.3rem);
  }

  &:active{
      transform: translateY(.1rem);
  }
}