.simpleNumeric{
    display: flex;
    align-items: center;
    &_number{
        &-container{
           flex-basis: 5%;
        }
        height: 3rem !important;
        width: 3rem !important;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        &-digit{
            font-size: 1.3rem;
            color: $page_content_back_color;
        }
    }
    &_info{
        flex-basis: 60%;
        display: flex;
        padding: .5rem 0;
        text-align: right;
        flex-direction: column;
        justify-content:center;
        margin-right: 1rem;
        &-title{
            font-weight: bold;        
            color: $default_text_color;        
        }
        &-text{
            display: flex;
            margin-top: 1rem;
            justify-content: start;
            &_subject{
                color:$sidebar_text_selected_color;
                font-weight: 570;
            }
            &_data{
                color:$text_success_color;
                font-weight: bold;
            }
        }
    }
    &-left{
        flex-basis: 30%;
        margin-right: auto;
        
    }
}